<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated brewery -->
      <package
            uri="http://brewery/1.0"
            class="brewery.BreweryPackage"
            genModel="brewery.genmodel"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Guba&apos;s Brewery">
         <property
               name="lifeCycleURI"
               value="bundleclass://brewery-ui/brewerycontrol.monitor.LifecycleManager">
         </property>
         <property
               name="appName"
               value="Guba&apos;s Brewery">
         </property>
      </product>
   </extension>
</plugin>
